profiles {
    standard {

        // Work directory
        workDir = "work"

        // Environment variables
        env {
          reads_in = '/Users/weiguo/Documents/git_oxford/learning/genomicdiversitysnppipeline/reads'

          // Combinations of aligners and callers
          aligners_callers_dic = [ 'bowtie2': ['pilon','platypus'],
                                    'bwa-mem': ['16GT','deepvariant'] ]
        }
    }
}
